[submodule "ArcadeMania"]
	path = ArcadeMania
	url = https://github.com/Muskansri1/ArcadeMania.git
[submodule "Assignment_9"]
	path = Assignment_9
	url = https://github.com/Muskansri1/Assignment_9.git
[submodule "Assignment_8"]
	path = Assignment_8
	url = https://github.com/Muskansri1/Assignment_8.git
[submodule "Assignment_7_WebDesign"]
	path = Assignment_7_WebDesign
	url = https://github.com/Muskansri1/Assignment_7_WebDesign.git
[submodule "Web_Design_Assignment_5"]
	path = Web_Design_Assignment_5
	url = https://github.com/Muskansri1/Web_Design_Assignment_5.git
